.container{
    width: 800px;
    background-color: white;
    margin: 100px auto 20px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -5px;
    justify-content: space-between;
}

.form_container{
    margin: 30px auto;
}

.form_container form{
    width: 350px;
}

.form_container form .input {
    border: none;
    width: 300px;
    height: 15px;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    transition: 0.3s;
    margin-top: 5%;
}
   
.form_container form .input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
           inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}


.selectdiv {
    position: relative;
    /*Don't really need this just for demo styling*/
    
    margin: 10px 15px;
}
  
  /* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
  display: none;
}
  
.selectdiv:after {
    font: 17px "Consolas", monospace;
    color: #333;
    
    right: 11px;
    /*Adjust for position however you want*/
    
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */
    
    position: absolute;
    pointer-events: none;
}
  
.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    
    display: block;
    width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
}

.temps_cont{
    display: flex;
    flex-direction: column;
}

.delete{
    display: flex;
    align-items: center;
    justify-items: center;
}
.delete p{
    margin: 10px 20px;
}

.delete a{
    cursor: pointer;
}

.container_temps{
    display: grid;
    grid-template-columns: repeat(3, 1.5fr)
}